#!/usr/bin/env node

// Grab provided args.
const [, , ...args] = process.argv;

// Print a greeting using the first argument, if provided.
console.log(`Hello, ${args[0] || 'world'}!`);

// Must copy the hooks to the .git folder
